<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Management</title>
</head>
<style>
 .time-ago {
            display: none; /* Hide the div by default */
        }

        .time-container:hover .time-ago {
            display: inline-block;
        }
</style>
<body>
	 <h1>Todo List for User: <span th:text="${identifier}"></span></h1>
    <h2>To-Do List Items:</h2>
     
    <form th:action="@{/{identifier}/newtodo-forms(identifier=${identifier})}" method="get">
        <input type="text" name="addtask" required>
        <button type="submit">Add</button>
    </form>
    
    <ul>
       <!-- Iterate over the todos list and display each item -->
      <li th:each="todo : ${todos}">
		 <div class="time-container">
          <span>ID: <span th:text="${todo.id}"></span></span>:::
          <span>Title: <span th:text="${todo.title}"></span></span>----
          <span>Date: <span th:text="${#dates.format(todo.datee, 'dd:MM:yyyy ')}"></span></span>----
          <span>Time: <span th:text="${#dates.format(todo.datee, 'hh:mm:ss ')}"  th:attr="title=${todo.TimeAgo}"></span></span>----
          <span><span th:text="${todo.TimeAgo}" class="time-ago"></span></span>
          <!-- Deleting task using id -->
          <form th:action="@{/{identifier}/newtodo-forms/delete/{id}(identifier= ${identifier}, id = ${todo.id})}" method="get" style="display:inline;">
              <button type="submit">Delete</button>
          </form>
         </div>
       </li>
    </ul>
</body>
</html>
